page-home {
    .login-wrap{
        width:100%;
        margin:auto;
        max-width:525px;
        min-height:670px;
        position:relative;
        background-image:linear-gradient(rgba(245, 116, 65, 0.657),rgba(0,0,0,0.5)),url('../../assets/imgs/home.jpg');
        background-size: cover;
        background-position-x: 50%;

    }

    .header{
        position: relative;
        font-size: 3em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        text-align: center;
        margin-top: 25%;
    }

    .btn{
        position: relative;
        left: 35%;
        font-size: 2.4em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        margin-top: 100%;
    }

}
